<main>
  <section class="about">
    <h1 class="es">Sobre mí</h1>
    <h1 class="en">About Me</h1>
    <p class="es">
      Soy un estudiante aplicado en el mundo de la informática, con amplia
      experiencia en computadoras, bases de datos, redes y dispositivos móviles.
      Siempre estoy aprendiendo nuevas tecnologías y aplicándolas para resolver
      problemas.
    </p>
    <p class="en">
      I am a diligent student in the world of computer science, with broad
      experience in personal computers, databases, networks, and mobile devices.
      I am always learning new technologies and applying them to solve problems.
    </p>
  </section>
</main>
