<h1 class="es">Sobre mí</h1>
<h1 class="en">About Me</h1>
<p class="es">
  Soy Ingeniero Civil Informático y Magíster en Ciencias de la Ingeniería
  con mención en TI de la Universidad Adolfo Ibáñez. Aplicado en el mundo de
  la informática, con amplia experiencia en computadoras, bases de datos,
  redes y dispositivos móviles. Siempre estoy aprendiendo nuevas tecnologías
  y aplicándolas para resolver problemas.
</p>
<p class="es">
  He desarrollado y participado en diversos proyectos educacionales y de
  software de código abierto, como laboratorios interactivos y
  <a href="https://github.com/Seva41/CTF_SSH" target="_blank" rel="noopener noreferrer"
    >desafíos CTF</a
  >
  para cursos de Seguridad en TI, un
  <a href="https://github.com/SoC-UAI/Control_Ingreso" target="_blank" rel="noopener noreferrer">
    control de acceso dinámico</a
  >
  con registro de asistencia para el laboratorio de ciberseguridad de la
  Universidad Adolfo Ibáñez, y una pequeña contribución al proyecto de
  filtrado DNS y bloqueo de anuncios a nivel de red,
  <a href="https://github.com/pi-hole/pi-hole/pull/5806" target="_blank" rel="noopener noreferrer">
    Pi-Hole</a
  >.
</p>
<p class="en">
  I am a Computer Science Engineer and Master of Science in Engineering with
  a specialization in IT, with broad experience in personal computers,
  databases, networks, and mobile devices. I am always learning new
  technologies and applying them to solve problems.
</p>
<p class="en">
  I have developed and participated in various educational and open-source
  software projects, such as interactive labs and
  <a href="https://github.com/Seva41/CTF_SSH" target="_blank" rel="noopener noreferrer"
    >CTF challenges</a
  >
  for IT Security courses, a
  <a href="https://github.com/SoC-UAI/Control_Ingreso" target="_blank" rel="noopener noreferrer">
    dynamic access control system</a
  >
  with attendance logging for the cybersecurity lab at Universidad Adolfo
  Ibáñez, and a small contribution to the DNS filtering and network-wide ad
  blocking project,
  <a href="https://github.com/pi-hole/pi-hole/pull/5806" target="_blank" rel="noopener noreferrer">
    Pi-Hole</a
  >.
</p>
