<main>
  <section class="contact">
    <h1 class="es">Contacto</h1>
    <h1 class="en">Contact</h1>
    <p class="es">
      Puedes contactarme en
      <a href="mailto:seba@sebadinator.com">seba@sebadinator.com</a> o en mi
      <a href="https://www.linkedin.com/in/sebadinator/">LinkedIn</a>.
    </p>
    <p class="en">
      You can contact me at
      <a href="mailto:seba@sebadinator.com">seba@sebadinator.com</a> or on
      <a href="https://www.linkedin.com/in/sebadinator/">LinkedIn</a>.
    </p>
  </section>
</main>
