<h1 class="es">Experiencia</h1>
<h1 class="en">Experience</h1>

<div class="experience-item">
  <img src="/assets/img/cenia.png" alt="Logo Cenia" />
  <p class="es">
    Embajador de Estudiantes en el Centro Nacional de Inteligencia Artificial |
    Agosto 2024 - Enero 2025
  </p>
  <p class="en">
    Student Ambassador at the National Center for Artificial Intelligence |
    August 2024 - Jan 2025
  </p>
</div>

<div class="experience-item">
  <img src="/assets/img/uai.png" alt="Facultad de Ingeniería y Ciencias UAI" />
  <p class="es">
    Desarrollador Full Stack para la Facultad de Ingeniería y Ciencias, Universidad Adolfo Ibáñez | Febrero 2025 - Abril 2025
  </p>
  <p class="en">
    Full Stack Developer for the Faculty of Engineering and Sciences, Adolfo Ibáñez University | February 2025 - April 2025
  </p>
</div>

<div class="experience-item">
  <img src="/assets/img/awaretools.png" alt="AwareTools" />
  <p class="es">
    Desarrollador Frontend en Aware.Tools | Abril 2025 - Mayo 2025
  </p>
  <p class="en">
    Frontend Developer at Aware.Tools | April 2025 - May 2025
  </p>
</div>

<div class="experience-item">
  <img src="/assets/img/awaretools.png" alt="AwareTools" />
  <p class="es">
    Fundador y Encargado del Laboratorio de Ciberseguridad en la Universidad
    Adolfo Ibáñez | Mayo 2024 - Noviembre 2024
  </p>
  <p class="en">
    Founder and Lab Manager at the Cybersecurity Lab at Adolfo Ibáñez University
    | May 2024 - Nov 2024
  </p>
</div>

<div class="experience-item">
  <img src="/assets/img/hacking.png" alt="Hack.Ing 2024" />
  <p class="es">
    2º lugar en el Hack.Ing CTF 2024 | Pontificia Universidad Católica de Chile
  </p>
  <p class="en">
    2nd place in Hack.Ing CTF 2024 | Pontifical Catholic University of Chile
  </p>
</div>
