<!-- _includes/footer.html -->
<footer>
    <p class="es">&copy; 2024 Sebastián Dinator | Ciberseguridad y Tecnología</p>
    <p class="en">&copy; 2024 Sebastián Dinator | Cybersecurity and Technology</p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/sebasti%C3%A1n-d-0803a8112/" target="_blank">
            <img src="{{ '/assets/icons/linkedin.svg' | relative_url }}" alt="LinkedIn">
        </a>
        <a href="https://github.com/Seva41" target="_blank">
            <img src="{{ '/assets/icons/github.svg' | relative_url }}" alt="GitHub">
        </a>
        <a href="https://t.me/sevadinator" target="_blank">
            <img src="{{ '/assets/icons/telegram.svg' | relative_url }}" alt="Telegram">
        </a>
    </div>
</footer>