<!-- _includes/footer.html -->
<footer>
    <p>&copy; 2024 Sebastián Dinator | Ciberseguridad y Tecnología</p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/sebasti%C3%A1n-d-0803a8112/" target="_blank">
            <img src="{{ '/assets/icons/linkedin.png' | relative_url }}" alt="LinkedIn">
        </a>
        <a href="https://github.com/Seva41" target="_blank">
            <img src="{{ '/assets/icons/github.png' | relative_url }}" alt="GitHub">
        </a>
        <a href="https://t.me/sevadinator" target="_blank">
            <img src="{{ '/assets/icons/telegram.png' | relative_url }}" alt="Telegram">
        </a>
    </div>
</footer>
<!---
<a href="https://www.flaticon.com/free-icons/linkedin" title="linkedin icons">Linkedin icons created by fauzin idea - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/telegram" title="telegram icons">Telegram icons created by Freepik - Flaticon</a>
--->