<!-- _includes/navbar.html -->
<nav class="navbar">
  <div class="logo">
    <a href="#" onclick="showTab('intro')">
      <img
        src="{{ 'assets/img/perfil.jpg' | relative_url }}"
        alt="Foto de Sebastián Dinator"
        class="profile-small"
      />
      <span>Sebastián Dinator</span>
    </a>
  </div>
  <!-- Ícono del menú hamburguesa -->
  <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
  <!-- Enlaces de navegación -->
  <ul class="nav-links">
    <li>
      <a href="#" onclick="showTab('about')" class="es">Sobre mí</a>
      <a href="#" onclick="showTab('about')" class="en">About Me</a>
    </li>
    <li>
      <a href="#" onclick="showTab('experience')" class="es">Experiencia</a>
      <a href="#" onclick="showTab('experience')" class="en">Experience</a>
    </li>
    <li>
      <a href="#" onclick="showTab('skills')" class="es">Habilidades</a>
      <a href="#" onclick="showTab('skills')" class="en">Skills</a>
    </li>
    <li>
      <a href="#" onclick="showTab('contact')" class="es">Contacto</a>
      <a href="#" onclick="showTab('contact')" class="en">Contact</a>
    </li>
    <!-- Selector de idioma para móvil dentro del menú -->
    <li>
      <div class="language-switch language-switch-mobile">
        <button onclick="cambiarIdioma('es')">Español</button>
        <button onclick="cambiarIdioma('en')">English</button>
      </div>
    </li>
  </ul>
  <!-- Selector de idioma para escritorio -->
  <div class="language-switch language-switch-desktop">
    <button onclick="cambiarIdioma('es')">Español</button>
    <button onclick="cambiarIdioma('en')">English</button>
  </div>
</nav>
